<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916360056673-l9h1vron4ise9e02srg6n59vhragj6jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916360056673-l9h1vron4ise9e02srg6n59vhragj6jh</string>
	<key>API_KEY</key>
	<string>AIzaSyC8w4xvbKz-j7pZgWV49GbFacqTZNr6SN4</string>
	<key>GCM_SENDER_ID</key>
	<string>916360056673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joseandro.Attest</string>
	<key>PROJECT_ID</key>
	<string>attesto</string>
	<key>STORAGE_BUCKET</key>
	<string>attesto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:916360056673:ios:b705e06cf87728094d7f20</string>
	<key>DATABASE_URL</key>
	<string>https://attesto.firebaseio.com</string>
</dict>
</plist>
